<section class="hero fundo_configuracao is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            Configurações
          </h1>
          <h2 class="subtitle">
            Informações básicas e algumas configurações
          </h2>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">
                Dados da Empresa
              </p>
            </div>
            <div class="card-content">
              <form [formGroup]="formConfig" (ngSubmit)="enviaForm()">
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Nome da Empresa:</label>
                      <input class="input" type="text" formControlName="nome" required>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Telefone da empresa:</label>
                      <input class="input" type="text" formControlName="telefone" required>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Endereço da empresa:</label>
                      <input class="input" type="text" formControlName="endereco" required>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Email da Empresa:</label>
                      <input class="input" type="text" formControlName="email" required>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <div class="field">
                      <label class="label">Site da empresa:</label>
                      <input class="input" type="text" formControlName="site" required>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <div class="button is-primary" type="button" (click)="enviaForm()">Salvar</div>
                  </div>
                </div>
                <div class="columns">
                  <div *ngIf="erro" [hidden]="sucesso || msg" class="column">
                    <div class="notification is-danger">
                      <button (click)="fechaAviso()" class="delete"></button>
                      Nos desculpe. Não foi possível cadastrar suas informações.
                    </div>
                  </div>
                  <div *ngIf="sucesso" [hidden]="erro || msg" class="column">
                    <div class="notification is-primary">
                      <button (click)="fechaAviso()" class="delete"></button>
                      Peça criada com sucesso.
                    </div>
                  </div>
                  <div *ngIf="msg" [hidden]="erro || sucesso" class="column">
                    <div class="notification is-info">
                      <button (click)="fechaAviso()" class="delete"></button>
                      {{msg}}
                    </div>
                  </div>
                </div>
                <div *ngIf="load" [hidden]="sucesso || erro" class="column">
                  <ng-progress></ng-progress>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>