<section class="hero is-link is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Novo Pedido
      </h1>
      <h2 class="subtitle">
        Aqui você pode registrar novos pedidos de aquisição para seu estoque
      </h2>

      <form *ngIf="pedido; else load" [formGroup]="formPedido" (ngSubmit)="enviaForm()">
        <div class="columns">
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Data de solicitação:</label>
              <div class="control">
                <input class="input" type="text" formControlName="data" required readonly>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Nome da peça:</label>
              <input class="input" type="text" formControlName="nome" required>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Fornecedor:</label>
              <input class="input" type="text" formControlName="fornecedor" required>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Quantidade:</label>
              <input class="input" type="text" formControlName="quantidade" required>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Valor:</label>
              <input class="input" type="text" formControlName="valor" required>
            </div>
          </div>
          <div *ngIf="categorias" class="column is-one-fifth">
            <label class="label">Categoria</label>
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select">
                  <select formControlName="categoria" required>
                    <option value="" disabled>--Selecione uma opção--</option>
                    <option [value]="categoria.categoria" *ngFor="let categoria of categorias">{{categoria.categoria}}</option>
                  </select>
                </div>
              </div>
              <div class="control">
                <button type="submit" class="button is-primary" (click)="abreModal(true)">Adicionar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <button [disabled]="!formPedido.valid" class="button is-primary" type="button" (click)="adicionaPecaLista()">Adicionar</button>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <!-- Aqui serão exibidos algumas coisas das peças, como nome, fornecedor, quantidade e etc. -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Lista de peças
                </p>
              </header>
              <div class="card-content">
                <div class="columns">
                  <div class="column">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Categoria</th>
                          <th>Fornecedor</th>
                          <th>Valor</th>
                          <th>Data de compra</th>
                          <th class="has-text-centered">Ações</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let lista of listaPecas">
                        <td>{{lista.nome}}</td>
                        <td>{{lista.categoria}}</td>
                        <td>{{lista.fornecedor}}</td>
                        <td class="has-text-centered">{{lista.valor}}</td>
                        <td class="has-text-centered">{{lista.data | date}}</td>
                        <td class="has-text-centered">
                          <button type="button" class="button is-small is-danger" (click)="deletaPeca($event)">Remover</button>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <button [disabled]="listaPecas.length != 0" class="button is-success" type=submit>Salvar</button>
            </div>
          </div>
        </div>

        <div class="columns">
          <div *ngIf="error" [hidden]="msg" class="column">
            <div class="notification is-danger">
              <button (click)="fechaAviso()" class="delete"></button>
              Nos desculpe. Não foi possível cadastrar a peça.
            </div>
          </div>
          <div *ngIf="msg" [hidden]="error" class="column">
            <div class="notification is-primary">
              <button (click)="fechaAviso()" class="delete"></button>
              Peça cadastrada com sucesso.
            </div>
          </div>
        </div>
        <div *ngIf="load" [hidden]="msg || error" class="column">
          <ng-progress></ng-progress>
        </div>
      </form>
      <div class="modal" [ngClass]="{'is-active' : modal === true}">
        <div class="modal-background"></div>
        <form [formGroup]="formCategoria" (ngSubmit)="registraCategoria()">
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Adicionar categoria</p>
              <button class="delete" aria-label="close" type="button" (click)="abreModal(false)"></button>
            </header>
            <section class="modal-card-body">

              <div class="field">
                <label class="label has-text-black">Categoria</label>
                  <div class="control">
                    <input class="input" type="text" formControlName="categoria" required>
                  </div>
              </div>

            </section>
            <footer class="modal-card-foot">
              <button type="button" class="button is-success" [disabled]="!formCategoria.valid" (click)="registraCategoria()">Salvar</button>
              <button type="button" (click)="abreModal(false)" class="button">Cancelar</button>
            </footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>