<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="is-size-2">Orçamento</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">
        <div *ngFor="let lista of categorias" class="column is-one-quarter">
          <nav class="panel">
            <p class="panel-heading">
              Categorias
            </p>
              <a *ngFor="let lista of categorias" (click)="verificaCategoriaSelecionada($event)" id="{{lista.categoria}}" class="panel-block is-active">
               {{lista.categoria}}
              </a>
            <div class="panel-block">
              <button (click)="resetaCategorias()" class="button is-link is-focused is-fullwidth">
                Limpar categorias
              </button>
            </div>
          </nav>
        </div>
        <div *ngIf="categoriaSelecionada" class="column">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">
                {{categoriaSelecionada}}
              </p>
            </div>
            <div class="card-content">
              <div class="field has-addons">
                <div class="control is-loading is-expanded">
                  <input class="input" type="text" placeholder="Normal loading input">
                </div>
                <div class="control">
                  <a class="button is-info">
                    Procurar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title">
                Resumo do orçamento:
              </p>
            </div>
            <div class="card-content">

            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div *ngIf="load" [hidden]="msg || error" class="column">
            <ng-progress></ng-progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>