<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Cadastro de Peça
      </h1>
      <h2 class="subtitle">
        Insira as informações abaixo para cadastrar uma peça
      </h2>

      <form *ngIf="peca; else load" [formGroup]="formPeca" (ngSubmit)="enviaForm()">
        <div class="columns">
          <div class="column is-three-quarters">
            <div class="field">
              <label class="label">Nome</label>
              <div class="control">
                <input class="input" type="text" formControlName="nome" required>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Categoria</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <div class="select">
                    <select *ngIf="categorias" formControlName="categoria" required>
                      <option value="">--Selecione uma opção--</option>
                      <option [value]="categoria.categoria" *ngFor="let categoria of categorias">{{categoria.categoria}}</option>
                    </select>
                  </div>
                </div>
                <div class="control">
                  <button type="button" class="button is-primary" (click)="abreModal(true)">Adicionar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-one-quarter">
          <div class="column">
            <div class="field">
              <label class="label">Fornecedor</label>
              <div class="control">
                <input class="input" type="text" formControlName="fornecedor" required>
              </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="field">
              <label class="label">Fabricante</label>
              <div class="control">
                <input class="input" type="text" formControlName="fabricante" required>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Imagem</label>
              <div class="control">
                <div class="file has-name">
                  <label class="file-label">
                    <input formControlName="imagem" (change)="upload($event)" class="file-input" type="file" name="resume">
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span (click)="upload()" class="file-label">
                        Arquivo
                      </span>
                    </span>
                    <span class="file-name">
                      <span *ngIf="arquivoUpload">{{arquivoUpload.name}}</span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Quantidade</label>
              <div class="control">
                <input class="input" type="number" formControlName="quantidade" required>
              </div>
            </div>
          </div>
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Valor</label>
              <div class="control">
                <input class="input" type="number" formControlName="valor" required>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <button [disabled]="!formPeca.valid" class="button is-link" type=submit>Salvar</button>
            </div>
          </div>
        </div>
        <div class="columns">
          <div *ngIf="erro" [hidden]="msg" class="column">
            <div class="notification is-danger">
              <button (click)="fechaAviso()" class="delete"></button>
              {{erro}}
            </div>
          </div>
          <div *ngIf="msg" [hidden]="error" class="column">
            <div class="notification is-primary">
              <button (click)="fechaAviso()" class="delete"></button>
              {{msg}}
            </div>
          </div>
        </div>
        <div *ngIf="load" [hidden]="msg || error" class="column">
          <ng-progress></ng-progress>
        </div>
      </form>

      <div class="modal" [ngClass]="{'is-active' : modal === true}">
        <div class="modal-background"></div>
        <form [formGroup]="formCategoria" (ngSubmit)="registraCategoria()">
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Adicionar categoria</p>
              <button class="delete" aria-label="close" type="button" (click)="abreModal(false)"></button>
            </header>
            <section class="modal-card-body">

              <div class="field">
                <label class="label has-text-black">Categoria</label>
                <div class="control">
                  <input class="input" type="text" formControlName="categoria" required>
                </div>
              </div>

            </section>
            <footer class="modal-card-foot">
              <button type="button" class="button is-success" [disabled]="!formCategoria.valid" (click)="registraCategoria()">Salvar</button>
              <button type="button" (click)="abreModal(false)" class="button">Cancelar</button>
            </footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>