<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" [ngClass]="{'is-active' : chaveMenu === true}" aria-label="menu"
      aria-expanded="false" data-target="navbarLinks" (click)="exibeMenu()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarLinks" class="navbar-menu" [ngClass]="{'is-active' : chaveMenu === true}">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" routerLinkActive="is-active">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Pedido
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" routerLink="/novoPed" routerLinkActive="is-active">
            Novo
          </a>
          <a class="navbar-item" routerLink="/historicoPed" routerLinkActive="is-active">
            Histórico
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Orçamento
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" routerLink="/novoOrc" routerLinkActive="is-active">
            Novo
          </a>
          <a class="navbar-item" routerLink="/historicoOrc" routerLinkActive="is-active">
            Histórico
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Peça
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" routerLink="/cadastropeca" routerLinkActive="is-active">
            Cadastro
          </a>
        </div>
      </div>
      <a class="navbar-item" routerLink="/configuracao" routerLinkActive="is-active">
        Configurações
      </a>
    </div>
  </div>
</nav>