html {
    background-color: #7A9CC6!important;
}

body {
    font-family: 'Varela Round', sans-serif !important;
}



// Coloca cor branca nos nomes dos inputs

.label {
    color: white!important;
    font-size: 16px!important;
}