<section class="hero  is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            Seja Bem-Vindo
          </h1>
          <h2 class="subtitle">
            Aqui está seu estoque atual
          </h2>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">

              <div class="columns">
                <div class="column">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Valor</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <span>
                  View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                </span>
              </p>
              <p class="card-footer-item">
                <span class="has-text-centered">
                  Share on <a href="#">Facebook</a>
                </span>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>